<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
<link href="https://db.onlinewebfonts.com/c/e08e1402197c87523c042e4fcb918b83?family=WarnockPro-Regular" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="/css/custom-ui.css?v=20260214-7">

<!-- Open Graph / Facebook -->
{{ $siteDescription := or .Site.Params.siteDescription .Site.Params.sitedescription .Site.Params.SiteDescription .Site.Title }}
{{ $pageTitle := .Title }}
{{ $pageDescription := $siteDescription }}

{{ if .IsHome }}
  {{ $pageTitle = .Site.Title }}
{{ else if .IsPage }}
  {{ with .Description }}
    {{ $pageDescription = . }}
  {{ else }}
    {{ $pageDescription = .Summary | plainify | htmlUnescape | truncate 160 }}
  {{ end }}
{{ else }}
  {{ with .Description }}
    {{ $pageDescription = . }}
  {{ end }}
{{ end }}

<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:title" content="{{ $pageTitle }}">
<meta property="og:description" content="{{ $pageDescription }}">

{{/* Dynamic image generation for social cards */}}
{{ $ogImage := "" }}
{{- with .Params.images -}}
  {{/* Use custom image if provided in frontmatter */}}
  {{ $ogImage = index . 0 | absURL }}
{{- else -}}
  {{/* Generate an image for pages and site-level links */}}
  {{ $title := $pageTitle }}
  {{ $footer := .Site.Params.author.name }}
  {{ if .IsPage }}
    {{ $footer = .Date.Format "January 2, 2006" }}
  {{ end }}

  {{/* Construct the Placehold URL */}}
  {{ $baseUrl := "https://placehold.co/1200x630/111827/F9FAFB/png" }}
  {{ $text := printf "%s\n%s" $title $footer }}
  
  {{ $qs := querify 
      "text" $text
      "font" "playfair-display"
  }}
  
  {{ $ogImage = printf "%s?%s" $baseUrl $qs }}
{{- end -}}

<meta property="og:image" content="{{ $ogImage }}">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:image:alt" content="{{ $pageTitle }}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ .Permalink }}">
<meta property="twitter:title" content="{{ $pageTitle }}">
<meta property="twitter:description" content="{{ $pageDescription }}">
<meta property="twitter:image" content="{{ $ogImage }}">
<meta property="twitter:image:alt" content="{{ $pageTitle }}">
