<div class="socialNavbar">
    <ul>
        {{ range sort .Site.Params.social "key" }}
        {{ $href := .url }}
        {{ $rel := .rel }}
        {{ if and (in $href "@") (not (hasPrefix $href "mailto:")) (not (hasPrefix $href "http://")) (not (hasPrefix $href "https://")) }}
            {{ $href = printf "mailto:%s" $href }}
        {{ end }}
        {{ if and (eq .target "_blank") (not $rel) }}
            {{ $rel = "noopener noreferrer" }}
        {{ end }}
        <li>
            <a href="{{ $href | safeURL }}" {{ if .target }} target="{{ .target }}" {{ end }} {{ with .aria }}aria-label="{{ . }}"{{ end }} title="{{ .name }}" {{ with $rel }}rel="{{ . }}"{{ end }}>{{ .name }}</a>
        </li>
        {{ end }}
    </ul>
</div>
